[submodule "backend"]
	path = backend
	url = https://github.com/SiveruhinMihail/Times-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SiveruhinMihail/Times-frontend.git
[submodule "files"]
	path = files-service
	url = https://github.com/SiveruhinMihail/Times-Files.git
